<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
All Staff Amender - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ul class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/apps/all-staff-amender">All Staff Amender</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <span class="add-box">Edit Staff Member</span>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1>
            <span class="add-box">Edit Demo Staff Member 1</span>
        </h1>

        <h2>
            Role
        </h2>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

        <form>

            <div class="staff-details-section">

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                        <label class="nhsuk-label" for="job-title">
                            <div class="nhsuk-label staff-details-prompt">Job Title</div>
                        </label>
                        <input class="nhsuk-select max-width-select" id="job-title" name="job-title" type="text" list="job-titles">
                        <datalist id="job-titles">
                            <option>AAA - Advisor (H)</option>
                            <option>AAA - Advisor (T1)</option>
                            <option>AAA - Advisor (T2)</option>
                            <option>AAA - Co-ordinator</option>
                            <option>AAA - Prescription Technical Analyst Pharmaceutical</option>
                            <option>AAA - Technical Lead</option>
                            <option>Business Engagement Lead</option>
                            <option>Business Unit Admin Support Officer</option>
                            <option>Casework Support</option>
                            <option>Caseworker</option>
                            <option>Customer Payments Lead Team Manager</option>
                            <option>Customer Payments Technical Lead</option>
                            <option>Development Team - Prescription Technical Analyst</option>
                            <option>Development Team - Technical Lead</option>
                            <option>Digital Operator</option>
                            <option>Lead Team Manager</option>
                            <option>Mailroom Assistant</option>
                            <option>Management Information Coordinator</option>
                            <option>Medicines Data Analyst</option>
                            <option>Medicines Data Information Officer</option>
                            <option>Medicines Data Lead Team Manager</option>
                            <option>Medicines Data Team Manager</option>
                            <option>Medicines Data Technical Lead</option>
                            <option>MYS - Customer Administration Support</option>
                            <option>MYS - Senior Customer Administration Support</option>
                            <option>Operational Trainer</option>
                            <option>Org Data Lead Team Manager</option>
                            <option>Org Data Team Manager</option>
                            <option>Org Data Team Member</option>
                            <option>Org Data Technical Lead</option>
                            <option>Payment Enquiry Team Member</option>
                            <option>Payment Team Member</option>
                            <option>PCS Processing And Customer Advisor</option>
                            <option>PCS Processing and Customer Advisor (H)</option>
                            <option>PCS Processing and Customer Advisor (Scanning)</option>
                            <option>PCS Processing and Customer Advisor (T1)</option>
                            <option>PCS Processing and Customer Advisor (T2)</option>
                            <option>PCS Scanning Team Member</option>
                            <option>Pharmaceutical Specialist Technician</option>
                            <option>Porter</option>
                            <option>Prescription Search Team Member</option>
                            <option>Prescription Technical Analyst - Business Support</option>
                            <option>Prescription Technical Analyst - Org Data</option>
                            <option>Provider Assurance Lead</option>
                            <option>Scanning Team Member</option>
                            <option>SCS - Officer</option>
                            <option>SCS - Prescription Technical Analyst</option>
                            <option>SCS - Technical Lead</option>
                            <option>Senior Business Unit Admin Support Officer</option>
                            <option>Senior Caseworker</option>
                            <option>Senior Pharmacist</option>
                            <option>Senior Scanning Team Member</option>
                            <option>Senior Team Member</option>
                            <option>Senior Team Member - Search Team</option>
                            <option>Service Delivery Manager</option>
                            <option>Service Portfolio Lead</option>
                            <option>Specialist Senior Pharmacist</option>
                            <option>Team Manager</option>
                            <option>Team Member - Scanning (Doc)</option>
                            <option>Team Member Header</option>
                            <option>Team Member PECS</option>
                            <option>Team Member Type 1</option>
                            <option>Team Member Type 2</option>
                            <option>Technical Lead - Digital Print Suite</option>
                            <option>Training and Mentoring Co-ordinator</option>
                            <option>Transition Team - Prescription Technical Analyst</option>
                            <option>UIP Support Officer (Org Data)</option>
                            <option>Warehouse operator</option>
                            <option>Warehouse Supervisor</option>
                        </datalist>
                    </fieldset>
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                        <label class="nhsuk-label" for="location">
                            <div class="nhsuk-label staff-details-prompt">Location</div>
                        </label>
                        <select class="nhsuk-select" name="location" id="location">
                            <option value="bridge-house">Bridge House</option>
                            <option value="greenfinsh">Greenfinch</option>
                            <option value="middlebrook">Middlebrook</option>
                            <option value="wakefield">Wakefield</option>
                        </select>
                    </fieldset>
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                        <legend>
                            <div class="nhsuk-label staff-details-prompt">Contract Type</div>
                        </legend>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="office-worker" name="contract-type" type="radio" value="office-worker">
                                <label class="nhsuk-label nhsuk-radios__label" for="office-worker">Office Worker</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="home-worker" name="contract-type" type="radio" value="home-worker">
                                <label class="nhsuk-label nhsuk-radios__label" for="home-worker">Home Worker</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-form-group non-bulk">
                <div class="nhsuk-label staff-details-prompt">Start Date</div>
                    {{ dateInput({
                    "id": "start-date",
                    "namePrefix": "start-date",
                    "items": [
                    {
                    "name": "day",
                    "classes": "nhsuk-input--width-2"
                    },
                    {
                    "name": "month",
                    "classes": "nhsuk-input--width-2"
                    },
                    {
                    "name": "year",
                    "classes": "nhsuk-input--width-4"
                    }
                    ]
                    }) }}
                </div>

                <div class="nhsuk-form-group non-bulk">
                    <label class="nhsuk-label staff-details-prompt" for="wte">WTE</label>
                    <input class="nhsuk-input" id="wte" name="wte" type="number" step="0.01" min="0" max="10">
                </div>

                <div class="nhsuk-form-group non-bulk">
                    <div class="nhsuk-label staff-details-prompt">Leaving Date</div>
                    {{ dateInput({
                    "id": "leaving-date",
                    "namePrefix": "leaving-date",
                    "items": [
                    {
                    "name": "day",
                    "classes": "nhsuk-input--width-2"
                    },
                    {
                    "name": "month",
                    "classes": "nhsuk-input--width-2"
                    },
                    {
                    "name": "year",
                    "classes": "nhsuk-input--width-4"
                    }
                    ]
                    }) }}
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                        <div class="nhsuk-label staff-details-prompt">Quality Check Required?</div>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="quality-check-yes" name="quality-check" type="radio"
                                       value="standard">
                                <label class="nhsuk-label nhsuk-radios__label" for="quality-check-yes">Yes</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="quality-check-no" name="quality-check" type="radio"
                                       value="standard">
                                <label class="nhsuk-label nhsuk-radios__label" for="quality-check-no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                        <div class="nhsuk-label staff-details-prompt">Quality Checker?</div>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="quality-checker-yes" name="quality-checker" type="radio"
                                       value="standard">
                                <label class="nhsuk-label nhsuk-radios__label" for="quality-checker-yes">Yes</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="quality-checker-no" name="quality-checker" type="radio"
                                       value="standard">
                                <label class="nhsuk-label nhsuk-radios__label" for="quality-checker-no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {% from 'scheduled-change.njk' import scheduledChange %}
                {{ scheduledChange() }}

            </div>

            <a class="nhsuk-button" type="submit" id="edit-staff-button" href="/apps/all-staff-amender/edit/confirmation?action=role">
                <span class="save-box">Save</span>
                <span class="nhsuk-u-visually-hidden"><span class="save-box">Save</span></span>
            </a>

        </form>

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="#" onclick="window.history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <script>
            window['all-staff-amender-edit'] = true;
            window['add-next-page'] = '/apps/all-staff-amender/edit/status?add=true';
            window['add-action'] = 'Continue';
            window['bulk-action'] = 'role';
        </script>

        <!-- End of content -->
    </div>
</div>
{% endblock %}
