<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Check - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item">Check</li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <script>
    window['check'] = true;
  </script>

  {% from 'notes-card.njk' import notesCard %}
  {{ notesCard(
    'This is an example note.'
  ) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <!-- Page Title -->
        <h1 id="page-title">
            Part <span id="current-part"></span> Check
        </h1>

        <!-- Prescription Image Container -->
        <div class="nhsuk-grid-column-one-third scan-container" style="height: 580px; overflow-y: hidden;">
            <!-- Prescription Image -->
            <div class="scan-container">
                <img class="nhsuk-image__img" id="prescription-image" src="/images/loading.jpg" alt="Prescription Image">
            </div>
            
            {% from 'image-controls.njk' import imageControls %}
            {{ imageControls() }}
        </div>

        <!-- Right Side -->
        <div class="nhsuk-grid-column-two-thirds" style="height: 580px;">
            {% from 'information-table.njk' import informationTable %}
            {% from 'information-fields.njk' import informationFieldsScanned %}
            {% from 'check-controls.njk' import checkControls %}

            {{ informationTable(
                'nhsuk-tag nhsuk-tag--blue',
                'EDDR', 'AA111', 'A', '1493', '1', '215.6', '150',
                '0', 'N', 'NW', '111111', '-', '-', 'FP10SS',
                '-', '-', 'F', '1', '-'
            ) }}

            {{ informationFieldsScanned(
                'Salbutamol 100micrograms/dose inhaler CFC free (200)' 
            ) }}

            <div class="nhsuk-u-padding-bottom-2"></div>

            {{ checkControls(
                'showCorrections();', 'nextEPS()'
            ) }}
        </div>

        <!-- Progress Checked. -->
        <div style="float: right; text-align: right;">
            <label class="nhsuk-label" for="checkedprogress" id="checked-label">? of ? checked</label>
            <progress id="checkedprogress" max="50" value="10"></progress>
        </div>

        <!-- Scroll to check. -->
        <script>document.getElementById('page-title').scrollIntoView();</script>

        <!-- End of content -->
    </div>
  </div>
{% endblock %}
