// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
progress {
    width: 0;
    min-width: 100%;
    height: 15px;
}

.question-continue {
    padding-top: 30px;
}

.hidden-alert {
    display: none;
}

.title-case {
    text-transform: capitalize;
}

.download-report-button {
    padding-bottom: 30px;
}