// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
progress {
    width: 0;
    min-width: 100%;
    height: 10px;
    border: 0;
    accent-color: $color_nhsuk-blue;
    border-radius: 0;
}
::-webkit-progress-value {
    background-color: $color_nhsuk-blue;
}
::-moz-progress-bar {
    background-color: $color_nhsuk-blue;
}
.percentage-text {
    float: right;
    padding-bottom: -10px;
    font-size: 15px;
}

.max-width-select {
    width: 0;
    min-width: 100%;
}

.question-continue {
    padding-top: 30px;
}

.hidden-alert {
    display: none;
}

.title-case {
    text-transform: capitalize;
}

.download-report-button {
    padding-bottom: 30px;
}

.swap-button {
    float: left;
}

.zoom-buttons {
    float: right;
}

.scan-container {
    position: relative;
    padding-left: 0;
}

.scan-controls {
    padding-top: 10px;
}
.scan-controls-button {
    border: none;
    background-color: #4c6272;
    color: white;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.scan-controls-button:hover {
    background-color: #384853;
}
.scan-controls-button:active {
    background-color: #263139;
}

.scan-container {
    overflow: auto;
}

#prescription-image {
    transform-origin: left top 0px;
    transition: scale 0.5s;
    transition-timing-function: ease;
}

.nhsuk-tag__full-width {
    min-width: 100%;
}
.table-title {
    font-size: 12px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-top: 8px;
    padding-right: 8px !important;
    border: none;
    border-left: 2px solid #f0f4f5;
    border-right: 2px solid #f0f4f5;
    border-top: 2px solid #f0f4f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #E8EDEE;
}
.table-body {
    font-size: 15px;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: none;
    border-left: 2px solid #f0f4f5;
    border-right: 2px solid #f0f4f5;
    border-bottom: 2px solid #f0f4f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #E8EDEE;
}
.nhsuk-table__row:hover {
    background-color: #E8EDEE;
}
th:last-child, td:last-child {
    padding-right: 5px;
}
.table-notes-space {
    font-size: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 4px;
    padding-top: 8px;
    border: none;
    border-left: 2px solid #f0f4f5;
    border-right: 2px solid #f0f4f5;
    border-top: 2px solid #f0f4f5;
    border-bottom: 2px solid #f0f4f5;
}
.notes-card {
    z-index: 1001;
    width: 400px;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}
.confirm-card {
    z-index: 1001;
    width: 550px;
    height: 75px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}
.notes-button {
    font-size: 12px;
    height: 66px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    background-color: #ccdff1;
    color: #004281;
    border: 1px solid #004281;
}
.notes-button__highlighted {
    background-color: #004281;
    color: #ccdff1;
    border: 1px solid #ccdff1;
}
.notes-button__highlighted:hover {
    background-color: #ccdff1;
    color: #004281;
    border: 1px solid #004281;
}
.notes-button__highlighted:active {
    color: #ccdff1;
    background-color: rgb(14, 0, 63);
}
.notes-background {
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
}
.corrections-label {
    font-size: 15px;
}
.nhsuk-grid-column-one-fifth {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 16px;
}
.nhsuk-width-container {
    max-width: 1024px !important;
}
/* Phase Banner */
.psa-phase-banner {
    background-color: #fff; /* #f0f4f5; */
}
.psa-phase-banner__content {
    padding-top: 10px;
    padding-bottom: 10px;
}
.psa-phase-banner__text {
    padding-left: 5px;
}
.hide-stats {
    display: none;
}

.stats-table {
    padding-bottom: 30px;
}

.staff-detail-field-label {
    font-weight: bold;
}

.staff-details-section {
    max-width: 500px;
    padding-bottom: 75px;
}

.staff-details-prompt {
    font-weight: bold;
}

.stream-select {
    height: 500px;
    width: 100%;
    max-width: unset;
}

.stream-change-button {
    margin: 20px;
}

.bulk-action-option {
    padding-bottom: 15px;
}

.bulk-hidden {
    display: none;
}

.stream-select-controls {
    width: 100%;
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}