// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
progress {
    width: 0;
    min-width: 100%;
    height: 10px;
    border: 0;
    accent-color: $color_nhsuk-blue;
    border-radius: 0;
}

.max-width-select {
    width: 0;
    min-width: 100%;
}

.question-continue {
    padding-top: 30px;
}

.hidden-alert {
    display: none;
}

.title-case {
    text-transform: capitalize;
}

.download-report-button {
    padding-bottom: 30px;
}

.swap-button {
    float: left;
}

.zoom-buttons {
    float: right;
}