{% macro checkControls(errorLink, correctLink) %}
    <!-- Navigation Buttons -->
    <div style="float: left;">
        <button class="nhsuk-button nhsuk-button--secondary">
            Back
        </button>
    </div>

    <!-- Check Buttons -->
    <div style="float: right;">
        <!-- Error -->
        <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #d5281b;" onclick={{ errorLink }} type="button">
            Error
        </button>

        <!-- Correct -->
        <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #007f3b;" type="button" onclick={{ correctLink }}>
            Correct
        </button>
    </div>
{% endmacro %}