{% macro checkControls(errorLink, correctLink) %}
    <!-- Buttons -->
    <div style="text-align: center;">
        <!-- Error -->
        <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #d5281b;" onclick={{ errorLink }} type="button">
            Error
        </button>

        <!-- Correct -->
        <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #007f3b;" type="button" onclick={{ correctLink }}>
            Correct
        </button>
    </div>
{% endmacro %}