{% macro imageControls() %}
    <!-- Prescription Image Controls -->
    <div class="scan-controls">
        <!-- Side Swap Button -->
        <button class="scan-controls-button swap-button" id="swap-sides" type="button" onclick="swapSides();">Show Back</button>

        <!-- Zoom buttons container -->
        <span class="zoom-buttons">
            <!-- Zoom In Button -->
            <button class="scan-controls-button" type="button" onclick="zoomScanIn();">+</button>
        
            <!-- Zoom Out Button -->
            <button class="scan-controls-button" type="button" onclick="zoomScanOut();">-</button>
        </span>
    </div> 
{% endmacro %}