{% macro informationFieldsScanned(productDescription) %}
    <table class="nhsuk-table" style="margin-bottom: 0;">
        <tr role="row">
            <th role="columnheader" class="table-title" scope="col" style="text-align: left;">
                Product Description
            </th>
        </tr>

        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__row table-body" style="text-align: left;" rowspan="2" colspan="2">
                {{ productDescription }}
            </td>
        </tr>
    </table>
{% endmacro %}

{% macro informationFieldsEPS(etpPrescribed, etpDispensed, productDescription) %}
    <table class="nhsuk-table" style="margin-bottom: 0;">
        <tr role="row">
            <th role="columnheader" class="table-title" scope="col" style="text-align: left;">
                Product Description
            </th>
        </tr>

        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__row table-body" style="text-align: left;" rowspan="2" colspan="2">
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-tag__full-width">
                    {{ productDescription }}
                </strong>
            </td>
        </tr>
    </table>

    <table class="nhsuk-table" style="margin-bottom: 0;">
        <tr role="row">
            <th role="columnheader" class="table-title" scope="col" style="text-align: left;">
                ETP Prescribed - QTY
            </th>

            <th role="columnheader" class="table-title" scope="col" style="text-align: left;">
                ETP Dispensed - QTY
            </th>
        </tr>

        <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__row table-body" style="text-align: left;" rowspan="2">
                {{ etpPrescribed }}
            </td>

            <td role="cell" class="nhsuk-table__row table-body" style="text-align: left;" rowspan="2">
                {{ etpDispensed }}
            </td>
        </tr>
    </table>
{% endmacro %}