<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
All Staff Amender - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ul class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/apps/all-staff-amender">All Staff Amender</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                View Staff Member
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1>
            Selected User
        </h1>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">
                Contents
            </h2>

            <ul class="nhsuk-tabs__list">

                <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                    <a class="nhsuk-tabs__tab" href="#details">
                        Individual
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#management">
                        Manager
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#role">
                        Role
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#status">
                        Status
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#working-patterns">
                        Working Patterns
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#current-streams">
                        Streams
                    </a>
                </li>

                <li class="nhsuk-tabs__list-item">
                    <a class="nhsuk-tabs__tab" href="#admin">
                        Admin
                    </a>
                </li>

            </ul>

            <div class="nhsuk-tabs__panel" id="details">

                <h2>
                    Individual Details
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Email</td>
                        <td class="nhsuk-table__cell">selected.member@nhs.net</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Cipher</td>
                        <td class="nhsuk-table__cell">seuser</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Payroll Number</td>
                        <td class="nhsuk-table__cell">00001</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Forename</td>
                        <td class="nhsuk-table__cell">Selected</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Middle Name(s)</td>
                        <td class="nhsuk-table__cell">Staff</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Surname</td>
                        <td class="nhsuk-table__cell">Member</td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit individual details",
                "href": "edit/details"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="management">

                <h2>
                    Manager Details
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Manager Name</td>
                        <td class="nhsuk-table__cell">Demo Manager</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Manager Cipher</td>
                        <td class="nhsuk-table__cell">deman</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Manager E-mail</td>
                        <td class="nhsuk-table__cell">demo.manager@nhs.net</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Shift Pattern</td>
                        <td class="nhsuk-table__cell">Day</td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit manager details",
                "href": "edit/management"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="role">

                <h2>
                    Role
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Job Title</td>
                        <td class="nhsuk-table__cell">Administrator</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Location</td>
                        <td class="nhsuk-table__cell">Bridge House</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Contract Type</td>
                        <td class="nhsuk-table__cell">Home Worker</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Start Date</td>
                        <td class="nhsuk-table__cell">01 January 2023</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">WTE</td>
                        <td class="nhsuk-table__cell">1.0</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Leaving Date</td>
                        <td class="nhsuk-table__cell"></td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Quality Check Required?</td>
                        <td class="nhsuk-table__cell">Yes</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Quality Checker</td>
                        <td class="nhsuk-table__cell">Yes</td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit role",
                "href": "edit/role"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="status">

                <h2>
                    Status
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                                        <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Status Group</td>
                        <td class="nhsuk-table__cell">Substantive</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Status Group - Start Date</td>
                        <td class="nhsuk-table__cell">01/01/2024</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Status Group - Finish Date</td>
                        <td class="nhsuk-table__cell">01/01/2025</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Status Group - Moved To</td>
                        <td class="nhsuk-table__cell"></td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit status",
                "href": "edit/status"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="working-patterns">

                <h2>
                    Working Patterns
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Monday</td>
                        <td class="nhsuk-table__cell">7.5 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Tuesday</td>
                        <td class="nhsuk-table__cell">7.5 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Wednesday</td>
                        <td class="nhsuk-table__cell">7.5 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Thursday</td>
                        <td class="nhsuk-table__cell">7.5 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Friday</td>
                        <td class="nhsuk-table__cell">7.5 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Saturday</td>
                        <td class="nhsuk-table__cell">0 hours</td>
                    </tr>
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Saturday</td>
                        <td class="nhsuk-table__cell">0 hours</td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit working pattern",
                "href": "edit/working-pattern"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="current-streams">

                <h2>
                    Current Streams
                </h2>

                <table class="nhsuk-table">
                    <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell staff-detail-field-label">Current Streams</td>
                        <td class="nhsuk-table__cell">
                            Item Confirmation<br>
                            Submission Correction<br>
                            Multiple Hits<br>
                            Errors<br>
                            Quantity Validation<br>
                            PECS
                        </td>
                    </tr>
                    </tbody>
                </table>

                {{ actionLink({
                "text": "Edit current streams",
                "href": "edit/current-streams"
                }) }}

            </div>

            <div class="nhsuk-tabs__panel" id="admin">

                <h2>
                    Admin
                </h2>

                <div>
                    <a class="nhsuk-button nhsuk-button--secondary" id="staff-audit-button" type="submit" href="/data/staff-audit.xlsx">
                        Get Audit Log for Staff Member's Details
                        <span class="nhsuk-u-visually-hidden">Get Audit Log for Staff Member's Details</span>
                    </a>
                </div>

                <div>
                    <a class="nhsuk-button nhsuk-button--secondary" id="staff-disable-button" type="submit" href="disable">
                        Disable Staff Member's Account
                        <span class="nhsuk-u-visually-hidden">Disable Staff Member's Account</span>
                    </a>
                </div>

            </div>

        </div>

        <!-- End of content -->
    </div>
</div>
{% endblock %}
