<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
All Staff Amender - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ul class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/apps/all-staff-amender">All Staff Amender</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                Disable Staff Member Accounts
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1>
            Disable Staff Member Accounts
        </h1>

        <p>
            Are you sure you want to disable the following staff member accounts?
        </p>


        <p>
            <ul>
                <li>
                    Demo Staff Member 1 (demo.staff1@nhs.net)
                </li>
            </ul>
        </p>

        <p>
            When a staff member leaves their account should be disabled. Proceeding with this action
            will remove them from the pool of active staff and anonomise any references to them in all
            of the Prescription Services Applications reports.
        </p>

        <a class="nhsuk-button" type="submit" id="disable-confirm"
           href="/apps/all-staff-amender">
            Confirm
            <span class="nhsuk-u-visually-hidden">Confirm</span>
        </a>

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="#" onclick="window.history.back()">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <script>
            window['all-staff-amender-disable'] = true;
        </script>

        <!-- End of content -->
    </div>
</div>
{% endblock %}
