<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  EPS Check - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k/check/eps">EPS Check</a></li>
      <li class="nhsuk-breadcrumb__item">Corrections</li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <!-- Mark the page as a check so that JS can update the counter. -->
  <script>
    window['check'] = true;
  </script>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <!-- Page Title -->
      <h1 id="page-title">
        Part <span id="current-part"></span> EPS Check
      </h1>

      <!-- Form -->
      <div class="nhsuk-grid-column-full" style="height: 580px;">
        <!-- Nested in a div. -->
        <div style="height: 54%; overflow-y: scroll; overflow-x: hidden;">
          <!-- ETP -->
          <div class="nhsuk-grid-row">
            <!-- ETP Prescribed - QTY -->
            <div class="nhsuk-grid-column-one-half">
              <label class="nhsuk-u-font-weight-bold" for="etp-prescribed">ETP Prescribed - QTY</label>
              <textarea class="nhsuk-textarea" id="etp-prescribed" name="etp-prescribed" rows="1" style="resize: none;" aria-describedby="etp-prescribed" disabled aria-disabled="true">Braltus 10microgram inhalation powder capsules with Zonda inhaler (Teva UK Ltd)-30</textarea>                             
            </div>
            <!-- ETP Dispensed - QTY -->
            <div class="nhsuk-grid-column-one-half">
              <label class="nhsuk-u-font-weight-bold" for="etp-dispensed">ETP Dispensed - QTY</label>
              <textarea class="nhsuk-textarea" id="etp-dispensed" name="etp-dispensed" rows="1" style="resize: none;" aria-describedby="etp-dispensed" disabled aria-disabled="true">Braltus 10microgram inhalation powder capsules with Zonda inhaler (Teva UK Ltd) 30 capsule 30.0-30</textarea>                    
            </div>
          </div>

          <!-- Product Description -->
          <label class="nhsuk-u-font-weight-bold" for="product-description">Product Description</label>
          <textarea class="nhsuk-textarea" id="product-description" name="product-description" rows="1" style="resize: none;" aria-describedby="product-description" disabled aria-disabled="true">Braltus 10microgram inhalation powder capsules with Zonda inhaler [Teva UK Ltd] (30)</textarea>                

          <div class="nhsuk-u-padding-bottom-2"></div>

          <!-- Information Grid -->
          <table class="nhsuk-table" style="margin-bottom: 0;">
            <!-- Title Group 1 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Account Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Account Type    
                </th>
                <!-- Account Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Account
                </th>
                <!-- Fragment Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Fragment
                </th>
                <!-- Form Number Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Quantity
                </th>
                <!-- Item Number Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Item Number
                </th>
                <!-- Total Fees Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Total Fees
                </th>
                <!-- Pay NIC Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Pay NIC
                </th>
              </tr>
            </thead>

            <!-- Value Group 1 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Account Type Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  <strong class="nhsuk-tag nhsuk-tag--green">EPHM</strong>
                </td>
                <!-- Account Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  ABC11
                </td>
                <!-- Fragment Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  Z
                </td>
                <!-- Form Number Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  1
                </td>
                <!-- Item Number Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  3
                </td>
                <!-- Total Fees Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  127
                </td>
                <!-- Pay NIC Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  2580
                </td>
              </tr>
            </tbody>

            <!-- Title Group 2 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Charge Value Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Charge Value
                </th>
                <!-- User Input Title -->
                <th role="columnheader" class="table-title" scope="col">
                  User Input
                </th>
                <!-- Division Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Division
                </th>
                <!-- Prescriber Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Prescriber Code
                </th>
                <!-- Parent Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Parent Code
                </th>
                <!-- Practice Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Practice Code
                </th>
                <!-- Paper Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Paper Type
                </th>
              </tr>
            </thead>

            <!-- Value Group 2 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Charge Value Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  0
                </td>
                <!-- User Input Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  N
                </td>
                <!-- Division Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  CN
                </td>
                <!-- Prescriber Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  222222
                </td>
                <!-- Parent Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Practice Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Paper Type Title -->
                <td role="cell" class="nhsuk-table__row table-body">
                  FP10SS
                </td>
              </tr>
            </tbody>

            <!-- Title Group 3 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Prescription Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Prescription Type
                </th>
                <!-- Charge Status Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Charge Status
                </th>
                <!-- Exemption Category Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Exemption Category
                </th>
                <!-- Quantity Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Form Number
                </th>
                <!-- Endorsements Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Endorsements
                </th>
              </tr>
            </thead>

            <!-- Value Group 3 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Prescription Type Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Charge Status Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  E
                </td>
                <!-- Exemption Category Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  C
                </td>
                <!-- Quantity Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  1416
                </td>
                <!-- Endorsement Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
              </tr>
            </tbody>
          </table>    
        </div>

        <div class="nhsuk-u-padding-bottom-2"></div>

        <!-- Corrections -->
        <div style="height: 44%; overflow-y: scroll;">
          <div class="nhsuk-card" style="margin-bottom: 0;">
            <div class="nhsuk-card__content">
              <form>
                <div class="nhsuk-form-group">
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Drug & Presentation -->
                      <label class="nhsuk-label" for="drug-and-presentation">Drug & Presentation</label>
                      <input class="nhsuk-select max-width-select" id="drug-and-presentation" name="drug-and-presentation" type="text" list="drug-descriptions">
                      <datalist id="drug-descriptions">
                        <!-- 25k+ Drug Descriptions -->
                        <option value="Abnoba Viscum A 200micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum A 200micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum A 20mg/1ml solution for injection ampoules (P)">Abnoba Viscum A 20mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum A 20micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum A 20micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum A 2mg/1ml solution for injection ampoules (P)">Abnoba Viscum A 2mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum F 200micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum F 200micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum F 20mg/1ml solution for injection ampoules (P)">Abnoba Viscum F 20mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum F 20micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum F 20micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum F 2mg/1ml solution for injection ampoules (P)">Abnoba Viscum F 2mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum M 200micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum M 200micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum M 20mg/1ml solution for injection ampoules (P)">Abnoba Viscum M 20mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum M 20micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum M 20micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum M 2mg/1ml solution for injection ampoules (P)">Abnoba Viscum M 2mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum Q 200micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum Q 200micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum Q 20mg/1ml solution for injection ampoules (P)">Abnoba Viscum Q 20mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum Q 20micrograms/1ml solution for injection ampoules (P)">Abnoba Viscum Q 20micrograms/1ml solution for injection ampoules (P)</option>
                        <option value="Abnoba Viscum Q 2mg/1ml solution for injection ampoules (P)">Abnoba Viscum Q 2mg/1ml solution for injection ampoules (P)</option>
                        <option value="Abraxane 100mg powder for suspension for infusion vials (P)">Abraxane 100mg powder for suspension for infusion vials (P)</option>
                        <option value="AbsorbaGel sachets (P)">AbsorbaGel sachets (P)</option>
                        <option value="Abstral 100microgram sublingual tablets (P)">Abstral 100microgram sublingual tablets (P)</option>
                        <option value="Abstral 200microgram sublingual tablets (P)">Abstral 200microgram sublingual tablets (P)</option>
                        <option value="Abstral 300microgram sublingual tablets (P)">Abstral 300microgram sublingual tablets (P)</option>
                        <option value="Abstral 400microgram sublingual tablets (P)">Abstral 400microgram sublingual tablets (P)</option>
                        <option value="Abstral 600microgram sublingual tablets (P)">Abstral 600microgram sublingual tablets (P)</option>
                        <option value="Abstral 800microgram sublingual tablets (P)">Abstral 800microgram sublingual tablets (P)</option>
                        <option value="Abtrim 1% cream (P)">Abtrim 1% cream (P)</option>
                        <option value="Abtrim 500mg pessaries (P)">Abtrim 500mg pessaries (P)</option>
                        <option value="AC Vax vaccine powder and solvent for solution for injection vials (P)"></option>
                        <option value="Acacia spray dried powder">Acacia spray dried powder</option>
                        <option value="Acadione 250mg tablets (P">Acadione 250mg tablets (P)</option>
                        <option value="Acamprosate 333mg gastro-resistant tablets">Acamprosate 333mg gastro-resistant tablets</option>
                        <option value="Acarbose 100mg tablets">Acarbose 100mg tablets</option>
                        <option value="Acarbose 50mg tablets">Acarbose 50mg tablets</option>
                        <option value="ACC-600 effervescent tablets (P)">ACC-600 effervescent tablets (P)</option>
                        <option value="Accolate 20mg tablets (P)">Accolate 20mg tablets (P)</option>
                        <option value="Accrete D3 tablets (P)">Accrete D3 tablets (P)</option>
                        <option value="Accupro 10mg tablets (P)">Accupro 10mg tablets (P)</option>
                        <option value="Accupro 20mg tablets (P)">Accupro 20mg tablets (P)</option>
                        <option value="Accupro 40mg tablets (P)">Accupro 40mg tablets (P)</option>
                        <option value="Accupro 5mg tablets (P)">Accupro 5mg tablets (P)</option>
                        <option value="Accuretic 12.5mg/10mg tablets (P)">Accuretic 12.5mg/10mg tablets (P)</option>
                        <option value="Acea 0.75% gel (P)">Acea 0.75% gel (P)</option>
                      </datalist>
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Quantity -->
                      <label class="nhsuk-label" for="corrections-quantity">Quantity</label>
                      <input class="nhsuk-input" id="corrections-quantity" type="text">
                    </div>
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- As Checked -->
                      <label class="nhsuk-label" for="checked">As Checked</label>
                      <input class="nhsuk-input" id="checked" type="text">
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                      <!-- As Processed -->
                      <label class="nhsuk-label" for="processed">As Processed</label>
                      <input class="nhsuk-input" id="processed" type="text">
                    </div>
                  </div>               
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Pharm Endorsement -->
                      <label class="nhsuk-label" for="pharm-endorsement">Pharm Endorsement</label>
                      <input class="nhsuk-input" id="pharm-endorsement" type="text">
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Comments -->
                      <label class="nhsuk-label" for="comments">Comments</label>
                      <input class="nhsuk-input" id="comments" type="text">
                    </div>
                  </div>
                
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Root Cause -->
                      <label class="nhsuk-label" for="root-cause">Root Cause</label>
                      <select class="nhsuk-select max-width-select" id="root-cause" name="root-cause">
                        <!-- Blank Option -->
                        <option value="0"></option>
  
                        <!-- Tagged Group -->
                        <option value="1">Tagged Group</option>
                        
                        <!-- Faint Order -->
                        <option value="2">Faint Order</option>
                        
                        <!-- Faint Endorsement -->
                        <option value="3">Faint Endorsement</option>
                        
                        <!-- Misaligned Order -->
                        <option value="4">Misaligned Order</option>
                        
                        <!-- Endorsement Covers Order -->
                        <option value="5">Endorsement Covers Order</option>
                      </select>
                    </div>
  
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Error Category -->
                      <label class="nhsuk-label" for="error-category">Error Category</label>
                      <!--  class="nhsuk-select max-width-select" id="error-category" name="error-category" -->
                      <input class="nhsuk-select max-width-select" id="error-category" name="error-category" type="text" list="error-descriptions">
                      <datalist id="error-descriptions">
                        <!-- Blank Option -->
                        <option value=" "> </option>
  
                        <!-- ICR: Addition -->
                        <option value="ICR: Addition">ICR: Addition</option>
  
                        <!-- ICR Exemption Class (Others) (1 in 20 only) -->
                        <option value="ICR: Exemption Class (Others) (1 in 20 only)">ICR: Exemption Class (Others) (1 in 20 only)</option>
  
                        <!-- ICR: Form Type -->
                        <option value="ICR: Form Type">ICR: Form Type</option>
  
                        <!-- ICR: Incorrect Pharmaceutical Form -->
                        <option value="ICR: Incorrect Pharmaceutical Form">ICR: Incorrect Pharmaceutical Form</option>
  
                        <!-- ICR: Incorrect Product -->
                        <option value="ICR: Incorrect Product">ICR: Incorrect Product</option>
  
                        <!-- ICR: Incorrect Quantity -->
                        <option value="ICR: Incorrect Quantity">ICR: Incorrect Quantity</option>
  
                        <!-- ICR: Incorrect Strength -->
                        <option value="ICR: Incorrect Strength">ICR: Incorrect Strength</option>
  
                        <!-- ICR: Not Detected Endorsement -->
                        <option value="ICR: Not Detected Endorsement">ICR: Not Detected Endorsement</option>
  
                        <!-- ICR: Omission -->
                        <option value="ICR: Omission">ICR: Omission</option>
  
                        <!-- ICR: Prescription Number -->
                        <option value="ICR: Prescription Number">ICR: Prescription Number</option>
  
                        <!-- ICR: RA Forms -->
                        <option value="ICR: RA Forms">ICR: RA Forms</option>
  
                        <!-- ICR: Supplementary Information (EG Manufacturer, Brand Name, Modification) -->
                        <option value="ICR: Supplementary Information (EG Manufacturer, Brand Name, Modification)">ICR: Supplementary Information (EG Manufacturer, Brand Name, Modification)</option>
  
                        <!-- Operator: Addition -->
                        <option value="Operator: Addition">Operator: Addition</option>
  
                        <!-- Operator: Alphanumeric / Memory Code Error -->
                        <option value="Operator: Alphanumeric / Memory Code Error">Operator: Alphanumeric / Memory Code Error</option>
  
                        <!-- Operator (Ex-Handler): Broken Bulk -->
                        <option value="Operator (Ex-Handler): Broken Bulk">Operator (Ex-Handler): Broken Bulk</option>
  
                        <!-- Operator: Calendar Pack -->
                        <option value="Operator: Calendar Pack">Operator: Calendar Pack</option>
  
                        <!-- Operator: Endorsement Information -->
                        <option value="Operator: Endorsement Information">Operator: Endorsement Information</option>
  
                        <!-- Operator: Endorsement Monetary -->
                        <option value="Operator: Endorsement Monetary">Operator: Endorsement Monetary</option>
  
                        <!-- Operator: Exempt Class (20th Form Only) -->
                        <option value="Exempt Class (20th Form Only)">Operator: Exempt Class (20th Form Only)</option>
  
                        <!-- Operator: Form Type -->
                        <option value="Operator Form Type">Operator: Form Type</option>
  
                        <!-- Operator: Incorrect Appliance / Colostomy Item -->
                        <option value="Operator: Incorrect Appliance / Colostomy Item">Operator: Incorrect Appliance / Colostomy Item</option>
  
                        <!-- Operator: Incorrect Pack -->
                        <option value="Operator: Incorrect Pack">Operator: Incorrect Pack</option>
  
                        <!-- Operator: Incorrect Pharmaceutical Form -->
                        <option value="Operator: Incorrect Pharmaceutical Form">Operator: Incorrect Pharmaceutical Form</option>
  
                        <!-- Operator: Incorrect Product -->
                        <option value="Operator: Incorrect Product">Operator: Incorrect Product</option>
  
                        <!-- Operator: Incorrect Quantity -->
                        <option value="Operator: Incorrect Quantity">Operator: Incorrect Quantity</option>
  
                        <!-- Operator: Incorrect Strength -->
                        <option value="Operator: Incorrect Strength">Operator: Incorrect Strength</option>
  
                        <!-- Operator: Multiple Hit -->
                        <option value="Operator: Multiple Hit">Operator: Multiple Hit</option>
  
                        <!-- Operator: Non Prop Ordered Together With Manufacturer / Brand -->
                        <option value="Operator: Non Prop Ordered Together With Manufacturer / Brand">Operator: Non Prop Ordered Together With Manufacturer / Brand</option>
  
                        <!-- Operator: Non Prop / Prop Ordered -->
                        <option value="Operator: Non Prop / Prop Ordered">Operator: Non Prop / Prop Ordered</option>
  
                        <!-- Operator: Not Dispensed -->
                        <option value="Operator: Not Dispensed">Operator: Not Dispensed</option>
  
                        <!-- Operator: Omission -->
                        <option value="Operator: Omission">Operator: Omission</option>
  
                        <!-- Operator: (Other) -->
                        <option value="Operator: (Other)">Operator: (Other)</option>
  
                        <!-- Operator: Prescription Number -->
                        <option value="Operator: Prescription Number">Operator: Prescription Number</option>
  
                        <!-- Operator: Quantity End Less -->
                        <option value="Operator: Quantity End Less">Operator: Quantity End Less</option>
  
                        <!-- Operator: Quantity Special Container -->
                        <option value="Operator: Quantity Special Container">Operator: Quantity Special Container</option>
  
                        <!-- Operator: RA Forms -->
                        <option value="Operator: RA Forms">Operator: RA Forms</option>
  
                        <!-- Operator: Return -->
                        <option value="Operator: Return">Operator: Return</option>
  
                        <!-- Operator: Switching (Exempt To Charge) -->
                        <option value="Operator: Switching (Exempt To Charge)">Operator: Switching (Exempt To Charge)</option>
  
                        <!-- Operator: Switching (Charge To Exempt) -->
                        <option value="Operator: Switching (Charge To Exempt)">Operator: Switching (Charge To Exempt)</option>
  
                        <!-- Operator: Unspecified Code / Special Order Code Not Input / Incorrectly Input -->
                        <option value="Operator: Unspecified Code / Special Order Code Not Input / Incorrectly Input">Operator: Unspecified Code / Special Order Code Not Input / Incorrectly Input</option>
  
                        <!-- System: Alphanumeric Code Error Generates Incorrect Direct Hit -->
                        <option value="System: Alphanumeric Code Error Generates Incorrect Direct Hit">System: Alphanumeric Code Error Generates Incorrect Direct Hit</option>
  
                        <!-- System: Cal Pack Quantity -->
                        <option value="System: Cal Pack Quantity">System: Cal Pack Quantity</option>
  
                        <!-- Contraceptives -->
                        <option value="Contraceptives">Contraceptives</option>
  
                        <!-- Endorsement: Misaligned -->
                        <option value="Endorsement: Misaligned">Endorsement: Misaligned</option>
  
                        <!-- System: Form Type -->
                        <option value="System: Form Type">System: Form Type</option>
  
                        <!-- System: Incorrect Pack -->
                        <option value="System: Incorrect Pack">System: Incorrect Pack</option>
  
                        <!-- System: Incorrect Product Paid -->
                        <option value="System: Incorrect Product Paid">System: Incorrect Product Paid</option>
  
                        <!-- System: Not Dispensed -->
                        <option value="System: Not Dispensed">System: Not Dispensed</option>
  
                        <!-- System: (Other) -->
                        <option value="System: (Other)">System: (Other)</option>
  
                        <!-- System: Quantity End Less -->
                        <option value="System: Quantity End Less">System: Quantity End Less</option>
  
                        <!-- System: Special Container Quantity -->
                        <option value="System: Special Container Quantity">System: Special Container Quantity</option>
  
                        <!-- System: Switching (Incorrectly As Chargeable) -->
                        <option value="System: Switching (Incorrectly As Chargeable)">System: Switching (Incorrectly As Chargeable)</option>
  
                        <!-- System: Switching (Incorrectly As Exempt) -->
                        <option value="System: Switching (Incorrectly As Exempt)">System: Switching (Incorrectly As Exempt)</option>
                      </select>
                    </div>
                  </div>
  
                  <div id="hidden-fields" hidden="true" aria-hidden="true">
                    <div class="nhsuk-u-padding-bottom-2"></div>
  
                    <!-- Alpha/Numeric Code -->
                    <label class="nhsuk-label" for="alpha-numeric-code">Alpha/Numeric Code</label>
                    <input class="nhsuk-input" id="alpha-numberic-code" type="text">
  
                    <div class="nhsuk-u-padding-bottom-2"></div>
  
                    <!-- Drug Paid -->
                    <label class="nhsuk-label" for="drug-paid">Drug Paid</label>
                    <input class="nhsuk-input" id="drug-paid" type="text">
  
                    <div class="nhsuk-u-padding-bottom-2"></div>
  
                    <!-- Drug Should Be Paid -->
                    <label class="nhsuk-label" for="drug-should-paid">Drug Should Be Paid</label>
                    <input class="nhsuk-input" id="drug-should-paid" type="text">
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Type -->
                      <label class="nhsuk-label" for="type">Type</label>
                      <select class="nhsuk-select max-width-select" id="type" name="type">
                        <!-- Blank Option -->
                        <option value="0"></option>
  
                        <!-- Type 1 -->
                        <option value="1">Type 1</option>
                        
                        <!-- Type 2 -->
                        <option value="2">Type 2</option>
                        
                        <!-- AIT -->
                        <option value="3">AIT</option>
                        
                        <!-- Support Services -->
                        <option value="4">Support Services</option>
                        
                        <!-- UIP -->
                        <option value="5">UIP</option>
                      </select>
                    </div>
  
                    <div class="nhsuk-grid-column-one-half">
                      <!-- OP ID -->
                      <label class="nhsuk-label" for="op-id">OP ID</label>
                      <select class="nhsuk-select max-width-select" id="op-id" name="op-id">
                        <!-- 1800+ User Ciphers -->
                        <!-- Blank Option -->
                        <option value="0"></option>
                        <option value="1">####</option>
                        <option value="2">####</option>
                        <option value="3">####</option>
                        <option value="4">####</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-third">
                      <!-- Other Streams -->
                      <label class="nhsuk-label" for="other-streams">Other Streams</label>
                      <input class="nhsuk-input" id="other-streams" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-third">
                      <!-- Stream -->
                      <label class="nhsuk-label" for="stream">Stream</label>
                      <select class="nhsuk-select max-width-select" id="stream" name="stream">
                        <!-- Blank Option -->
                        <option value="0"></option>
                        
                        <!-- Account Reconciliation -->
                        <option value="1">Account Reconciliation</option>
                        
                        <!-- Capture Dispensed Pack Size -->
                        <option value="2">Capture Dispensed Pack Size</option>
                        
                        <!-- Charge Status -->
                        <option value="3">Charge Status</option>
                        
                        <!-- Data Capture -->
                        <option value="4">Data Capture</option>
                        
                        <!-- Header Capture -->
                        <option value="5">Header Capture</option>
                        
                        <!-- Header Correction -->
                        <option value="6">Header Correction</option>
                        
                        <!-- IC -->
                        <option value="7">IC</option>
                        
                        <!-- KFP -->
                        <option value="8">KFP</option>
                        
                        <!-- MDA Capture -->
                        <option value="9">MDA Capture</option>
                        
                        <!-- Multiple Hits -->
                        <option value="10">Multiple Hits</option>
                        
                        <!-- NCSO -->
                        <option value="11">NCSO</option>
                        
                        <!-- Pack Selection -->
                        <option value="12">Pack Selection</option>
                        
                        <!-- Personal Errors -->
                        <option value="13">Personal Errors</option>
                        
                        <!-- Product Capture -->
                        <option value="14">Product Capture</option>
                        
                        <!-- Product Capture Account Selection -->
                        <option value="15">Product Capture Account Selection</option>
                        
                        <!-- Quantity Validation -->
                        <option value="16">Quantity Validation</option>
                        
                        <!-- Specialist Accounts -->
                        <option value="17">Specialist Accounts</option>
                        
                        <!-- Tagged -->
                        <option value="18">Tagged</option>
                        
                        <!-- UIP -->
                        <option value="19">UIP</option>
                        
                        <!-- Verification -->
                        <option value="20">Verification</option>
                      </select>
                    </div>
  
                    <div class="nhsuk-grid-column-one-third">
                      <!-- Division -->
                      <label class="nhsuk-label" for="division">Division</label>
                      <select class="nhsuk-select max-width-select" id="division" name="division">
                        <!-- Blank Option -->
                        <option value="0"></option>
                        
                        <!-- NE -->
                        <option value="1">NE</option>
                        
                        <!-- NW -->
                        <option value="2">NW</option>
                        
                        <!-- CN -->
                        <option value="3">CN</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Evidence Seen -->
                      <label class="nhsuk-label" for="evidence-seen">Evidence Seen</label>
                      <input class="nhsuk-input" id="evidence-seen" type="text">
                    </div>
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Number Of Errors -->
                      <label class="nhsuk-label" for="number-of-errors">Number Of Errors</label>
                      <input class="nhsuk-input" id="number-of-errors" type="text">
                    </div>
                  </div>                
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-quarter">
                      <!-- Value -->
                      <label class="nhsuk-label" for="value-amount">Value (+/-)</label>
                      <input class="nhsuk-input" id="value-amount" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-quarter">
                      <!-- Fee Value -->
                      <label class="nhsuk-label" for="fee-value-amount">Fee Val (+/-)</label>
                      <input class="nhsuk-input" id="fee-value-amount" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-quarter">
                      <!-- GP2 Items -->
                      <label class="nhsuk-label" for="gp2-items">GP2 (+/-)</label>
                      <input class="nhsuk-input" id="gp2-items" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-quarter">
                      <!-- GP3 Items -->
                      <label class="nhsuk-label" for="gp3-items">GP3 (+/-)</label>
                      <input class="nhsuk-input" id="gp3-items" type="text">
                    </div>
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <!-- Info Errors -->
                  <label class="nhsuk-label" for="info-errors">Info Errors</label>
                  <input class="nhsuk-input" id="info-errors" type="text">
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Exp Item -->
                      <label class="nhsuk-label" for="exp-item">Exp Item (+ / -)</label>
                      <input class="nhsuk-input" id="exp-item" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Exp Fee Value -->
                      <label class="nhsuk-label" for="exp-fee-value">Exp Fee Value (+ / -)</label>
                      <input class="nhsuk-input" id="exp-fee-value" type="text">
                    </div>
                  </div>              
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Elas Hos Items -->
                      <label class="nhsuk-label" for="elas-hos-items">Elas Hos Items (+ / -)</label>
                      <input class="nhsuk-input" id="elas-hos-items" type="text">
                    </div>
  
                    <div class="nhsuk-grid-column-one-half">
                      <!-- Elas Hos Value -->
                      <label class="nhsuk-label" for="elas-hos-value">Elas Hos Value (+ / -)</label>
                      <input class="nhsuk-input" id="elas-hos-value" type="text">
                    </div>
                  </div>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
  
                  <!-- Error Type Checkboxes -->
                  <fieldset class="nhsuk-fieldset" aria-describedby="corrections-error-type">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Error type
                      </h1>
                    </legend>
  
                    <div class="nhsuk-hint" id="corrections-error-type">
                      Select a relevant error type.
                    </div>
  
                    <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
                      <!-- Info Error -->
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="info-error" name="info-error" type="checkbox" value="info-error" aria-controls="info-error-pop-out" aria-expanded="false">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="info-error">Info Error</label>
                      </div>
    
                      <!-- Info Error Pop-Out -->
                      <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="info-error-pop-out">
                        <div class="nhsuk-checkboxes__item">
                          <!-- Info Error Pop-Out Options -->
                          <div class="nhsuk-checkboxes">
                              <!-- ICR Exemption Class (1 in 20 only) -->
                              <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="icr-exemption-class" name="icr-exemption-class" type="checkbox">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="icr-exemption-class">ICR Exemption Class (1 in 20 only)</label>
                              </div>
    
                              <!-- Operator Exemption Class (20th Form Only) -->
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="operator-exempt-class" name="operator-exempt-class" type="checkbox">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="operator-exempt-class">Operator Exemption Class (20th Form Only)</label>
                                </div>
                              </div>
  
                              <!-- Operator Return (Returned but should have been processed) -->
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="operator-return" name="operator-return" type="checkbox">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="operator-return">Operator Return (Returned but should have been processed)</label>
                                </div>
                              </div>
  
                              <!-- System Switching (Incorrectly as chargeable) -->
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="system-switching-chargeable" name="system-switching-chargeable" type="checkbox">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="system-switching-chargeable">System Switching (Incorrectly as chargeable)</label>
                                </div>
                              </div>
  
                              <!-- System Switching (Incorrectly as exempt) -->
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="system-switching-exempt" name="system-switching-exempt" type="checkbox">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="system-switching-exempt">System Switching (Incorrectly as exempt)</label>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
    
                      <div class="nhsuk-u-padding-bottom-1"></div>
    
                      <!-- TAG Operator Error -->
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="tag-operator-error" name="tag-operator-error" type="checkbox">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="tag-operator-error">TAG Operator Error</label>
                      </div>
    
                      <div class="nhsuk-u-padding-bottom-1"></div>
    
                      <!-- TAG System Error -->
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="tag-system-error" name="tag-system-error" type="checkbox">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="tag-system-error">TAG System Error</label>
                      </div>
                    </div>
                  </fieldset>
  
                  <div class="nhsuk-u-padding-bottom-2"></div>
                </div>
                <!-- Buttons -->
                <div>
                  <!-- Cancel -->
                  <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #d5281b;" onclick="redirectToEPS();" type="button">Cancel Error</button>
  
                  <!-- Confirm -->
                  <button class="nhsuk-button nhsuk-button--secondary" style="float: right; background-color: #007f3b;" type="button" onclick="nextCheck()">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Progress Checked. -->
      <div style="float: right; text-align: right;">
        <label class="nhsuk-label" for="checkedprogress" id="checked-label">10 of 500 checked</label>
        <progress id="checkedprogress" max="50" value="10"></progress>
      </div>

      <!-- Scroll to check. -->
      <script>document.getElementById('page-title').scrollIntoView();</script>

      <!-- End of content -->
    </div>
  </div>
{% endblock %}
