<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Check - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item">Check</li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <script>
    window['check'] = true;
  </script>

  {% from 'notes-card.njk' import notesCard %}
  {{ notesCard(
    ''
  ) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <!-- Page Title -->
        <h1 id="page-title">
            Part <span id="current-part"></span> Check
        </h1>

        <!-- Right Side -->
        <div class="nhsuk-grid-column-full" style="height: 580px;">
            {% from 'information-table.njk' import informationTable %}
            {% from 'information-fields.njk' import informationFieldsEPS %}
            {% from 'check-controls.njk' import checkControls %}

            {{ informationTable(
                'nhsuk-tag nhsuk-tag--green',
                'EPHM', 'ABC11', 'Z', '1416', '3', '127', '2580',
                '0', 'N', 'CN', '222222', '-', '-', 'FP10SS',
                '-', 'E', 'C', '1', '-'
            ) }}

            {{ informationFieldsEPS(
                'Braltus 10microgram inhalation powder capsules with Zonda inhaler (Teva UK Ltd)-30', 'Braltus 10microgram inhalation powder capsules with Zonda inhaler (Teva UK Ltd) 30 capsule 30.0-30',
                'Braltus 10microgram inhalation powder capsules with Zonda inhaler [Teva UK Ltd] (30)' 
            ) }}

            <div class="nhsuk-u-padding-bottom-2"></div>

            {{ checkControls(
                'showEPSCorrections();', 'nextCheck()'
            ) }}
        </div>

        <!-- Progress Checked. -->
        <div style="float: right; text-align: right;">
            <label class="nhsuk-label" for="checkedprogress" id="checked-label">? of ? checked</label>
            <progress id="checkedprogress" max="50" value="10"></progress>
        </div>

        <!-- Scroll to check. -->
        <script>document.getElementById('page-title').scrollIntoView();</script>

        <!-- End of content -->
    </div>
  </div>
{% endblock %}
