<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Check - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item">Check</li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <!-- Mark the page as a check so that JS can update the counter. -->
  <script>
    window['check'] = true;
  </script>

  <div class="notes-background" id="notes-background" hidden="true" aria-hidden="true">
    <div class="notes-card">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <label class="nhsuk-u-font-weight-bold" for="form-notes">Form Notes</label>
          <textarea class="nhsuk-textarea" id="form-notes" name="form-notes" rows="1" style="resize: none;" aria-describedby="form-notes" disabled aria-disabled="true"></textarea>                    
        
          <div class="nhsuk-u-padding-bottom-2"></div>

          <button class="nhsuk-button nhsuk-button--secondary" onclick="hideFormNotes();" style="background-color: #d5281b;">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <!-- Page Title -->
      <h1 id="page-title">
        Part <span id="current-part"></span> Check
      </h1>

      <!-- Prescription Image Container -->
      <div class="nhsuk-grid-column-one-third scan-container" style="height: 580px; overflow-y: hidden;">

        <!-- Prescription Image -->
        <div class="scan-container">
          <img class="nhsuk-image__img" id="prescription-image" src="/images/E000001NE02_side1.jpg" alt="Prescription Image">
        </div>
  
        <!-- Prescription Image Controls -->
        <div style="text-align: center;" class="scan-controls">

          <!-- Side Swap Button -->
          <button class="nhsuk-button nhsuk-button--secondary swap-button" id="swap-sides" type="button" onclick="swapSides();">Back</button>

          <!-- Show Form Notes Button -->
          <button class="nhsuk-button nhsuk-button--secondary" type="button" onclick="showFormNotes();" disabled>Notes</button>

          <!-- Zoom buttons container -->
          <span class="zoom-buttons">
          
            <!-- Zoom In Button -->
            <button class="nhsuk-button nhsuk-button--secondary" type="button" onclick="zoomScanIn();">+</button>
            
            <!-- Zoom Out Button -->
            <button class="nhsuk-button nhsuk-button--secondary" type="button" onclick="zoomScanOut();">-</button>

          </span>
          
        </div> 
      </div>

      <!-- Right Side -->
      <div class="nhsuk-grid-column-two-thirds" style="height: 580px;">
        <!-- Nested in a div. -->
        <div style="height: 100%; overflow-y: hidden;">
          <!-- Information Grid -->
          <table class="nhsuk-table" style="margin-bottom: 0;">
            <!-- Title Group 1 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Account Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Account Type    
                </th>
                <!-- Account Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Account
                </th>
                <!-- Fragment Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Fragment
                </th>
                <!-- Form Number Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Form Number
                </th>
                <!-- Item Number Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Item Number
                </th>
                <!-- Total Fees Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Total Fees
                </th>
                <!-- Pay NIC Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Pay NIC
                </th>
              </tr>
            </thead>

            <!-- Value Group 1 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Account Type Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  <strong class="nhsuk-tag nhsuk-tag--red">EDDR</strong>
                </td>
                <!-- Account Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  AA1111
                </td>
                <!-- Fragment Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  A
                </td>
                <!-- Form Number Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  1493
                </td>
                <!-- Item Number Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  1
                </td>
                <!-- Total Fees Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  215.6
                </td>
                <!-- Pay NIC Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  150
                </td>
              </tr>
            </tbody>

            <!-- Title Group 2 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Charge Value Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Charge Value
                </th>
                <!-- User Input Title -->
                <th role="columnheader" class="table-title" scope="col">
                  User Input
                </th>
                <!-- Division Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Division
                </th>
                <!-- Prescription Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Prescription Code
                </th>
                <!-- Parent Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Parent Code
                </th>
                <!-- Practice Code Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Practice Code
                </th>
                <!-- Paper Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Paper Type
                </th>
              </tr>
            </thead>

            <!-- Value Group 2 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Charge Value Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  0
                </td>
                <!-- User Input Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  N
                </td>
                <!-- Division Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  NW
                </td>
                <!-- Prescription Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  111111
                </td>
                <!-- Parent Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Practice Code Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Paper Type Title -->
                <td role="cell" class="nhsuk-table__row table-body">
                  FP10SS
                </td>
              </tr>
            </tbody>

            <!-- Title Group 3 -->
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <!-- Prescription Type Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Prescription Type
                </th>
                <!-- Charge Status Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Charge Status
                </th>
                <!-- Exemption Category Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Exemption Category
                </th>
                <!-- Quantity Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Quantity
                </th>
                <!-- Endorsements Title -->
                <th role="columnheader" class="table-title" scope="col">
                  Endorsements
                </th>
              </tr>
            </thead>

            <!-- Value Group 3 -->
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <!-- Prescription Type Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Charge Status Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
                <!-- Exemption Category Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  F
                </td>
                <!-- Quantity Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  1
                </td>
                <!-- Endorsement Value -->
                <td role="cell" class="nhsuk-table__row table-body">
                  -
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Longer Values Grid -->
          <table class="nhsuk-table" style="margin-bottom: 0;">
            <tbody class="nhsuk-table__body">
              <!-- Product Description -->
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell table-body-full-width">
                  <label class="nhsuk-u-font-weight-bold" for="product-description">Product Description</label>
                  <textarea class="nhsuk-textarea" id="product-description" name="product-description" rows="1" style="resize: none;" aria-describedby="product-description" disabled aria-disabled="true"></textarea>                    
                </td>
              </tr>
            </tbody>
          </table>

          <div class="nhsuk-u-padding-bottom-2"></div>

          <!-- Buttons -->
          <div style="text-align: center;">
            <!-- Error -->
            <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #d5281b;" onclick="showCorrections()" type="button">
              Error
            </button>

            <!-- Correct -->
            <button class="nhsuk-button nhsuk-button--secondary" style="background-color: #007f3b;" type="button" onclick="nextEPS()">
              Correct
            </button>
          </div>
        </div>
      </div>

      <!-- Progress Checked. -->
      <div style="float: right; text-align: right;">
        <label class="nhsuk-label" for="checkedprogress" id="checked-label">10 of 500 checked</label>
        <progress id="checkedprogress" max="50" value="10"></progress>
      </div>

      <!-- Scroll to check. -->
      <script>document.getElementById('page-title').scrollIntoView();</script>

      <!-- End of content -->
    </div>
  </div>
{% endblock %}
