{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Staff Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/staffChecker"> Bulk Action </a></li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div>
        <p> File has been downloaded. </p>
      </div>

      &nbsp;
      &nbsp;

        <div>

    </div>
  
{% endblock %}