{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Staff Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ul class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/apps/staffChecker">Staff Checking</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                Bulk Action
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- TODO Show content based on action and users selected. -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h2>
            Bulk action made
        </h2>

        <div>
            <p>The following changes were made:
            <p>
            <p>
                <strong>Division C </strong>
                <br>
                <strong>Managed by Division C </strong>
            </p>
        </div>

        <div>
            <p>
                A CSV containing user details is ready to be generated for the following staff members: /<br>
                The following staff members were affected: / <br>
                The following staff members were disabled:
            </p>
        </div>

        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    User Name
                </th>
                <th role="columnheader" class="" scope="col">
                    User Email
                </th>
                <th role="columnheader" class="" scope="col">
                    Status
                </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Name </span> Paul Smith
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Email </span>paul.smith@nhs.net
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading select-tag">Status </span>
                    <strong class="nhsuk-tag nhsuk-tag--grey mobile-tag">
                        Inactive
                    </strong>
                </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Name </span> Paul Gutierrez
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Email </span>paul.gutierrez@nhs.net
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading select-tag">Status </span>
                    <strong class="nhsuk-tag nhsuk-tag--grey mobile-tag">
                        Inactive
                    </strong>
                </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">

                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Name </span> Paul Ponce
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading">User Email </span>paul.ponce@nhs.net
                </td>
                <td role="cell" class="nhsuk-table__cell center-table-row">
                    <span class="nhsuk-table-responsive__heading select-tag">Status </span>
                    <strong class="nhsuk-tag nhsuk-tag--grey mobile-tag">
                        Inactive
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <!-- TODO Download a CSV. -->
            <a class="nhsuk-button nhsuk-u-margin-top-4">Download CSV </a>
        </div>

        <a href="/apps/staffChecker"> < Return to All Staff Amender Home</a>

    </div>
</div>

{% endblock %}
