<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Staff Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ul class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/">Home</a>
            </li>
            <li class="nhsuk-breadcrumb__item">
                <a class="nhsuk-breadcrumb__link" href="/apps/staffChecker">Staff Checking</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- TODO JS on page load to add in users based on filter. -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1>
            All Staff Amender
        </h1>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

        <!-- TODO Reload page with user filter. -->
        <div class="nhsuk-inset-text nhsuk-u-margin-top-5">
            <h2>Find Staff Member</h2>
            <p class>Enter the details of the staff member you wish to see information for.</p>
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                    <h3>Search By</h3>
                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-2">Staff Name </label>
                        </div>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio"
                                       value="no">
                                <label class="nhsuk-label nhsuk-radios__label" for="example-2">Manager Name </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example"> Name </label>
                <input class="nhsuk-label" id="example" name="example" type="text">
            </div>
            <a class="nhsuk-button nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3" id="continue-button" type="submit"
               href="/apps/staffChecker/allStaff">
                Refine search
                <span class="nhsuk-u-visually-hidden">Refine Search</span>
            </a>
        </div>

        <!-- TODO Create view user details page (with disable button and edit links). -->
        <h2 class="nhsuk-u-margin-top-5" id="skip-to-table"> Staff Members </h2>
        <span class="nhsuk-details__summary-text">

            <a href="/apps/staffChecker/allStaff"> + Add New Staff Member </a> <!-- TODO Create Add/Edit pages.-->
   
            <fieldset class="nhsuk-fieldset nhsuk-u-mergin--5 nhsuk-u-margin-top-5">
                <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                User Name
                            </th>
                            <th role="columnheader" class="" scope="col">
                                User Email
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <div>
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                              <input type="checkbox" id="user1" name="scales" checked/>
                              <label for="user1"> <span class="nhsuk-table-responsive__heading">User Name </span> Paul Smith  </label>
                            </td>
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                                <span class="nhsuk-table-responsive__heading">User Email </span>paul.smith@nhs.net
                            </td>
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                                <span class="nhsuk-table-responsive__heading select-tag">Action </span>
                                <p class="nhsuk-u-margin-bottom-0"><a class="nhsuk-link nhsuk-link--no-visited-state"
                                                                      href="portfolio-summary">View Details</a></p>
                            </td>
                          </div>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <div>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                              <input type="checkbox" id="user2" name="scales" checked/>
                              <label for="user2"> <span class="nhsuk-table-responsive__heading">User Name </span> Paul Gutierrez </label>
                            </td>
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                                    <span class="nhsuk-table-responsive__heading">User Email </span>paul.gutierrez@nhs.net
                            </td>
                           <td role="cell" class="nhsuk-table__cell center-table-row">
                                <span class="nhsuk-table-responsive__heading select-tag">Action </span>
                                <p class="nhsuk-u-margin-bottom-0"><a class="nhsuk-link nhsuk-link--no-visited-state"
                                                                      href="portfolio-summary">View Details</a></p>
                            </td>
                        </tr>
                      </div>
                        <tr role="row" class="nhsuk-table__row">

                            <td role="cell" class="nhsuk-table__cell center-table-row">
                              <input type="checkbox" id="user3" name="scales" checked/>
                              <label for="user3"> <span class="nhsuk-table-responsive__heading">User Name </span> Paul Ponce </label>
                            </td>
                            <td role="cell" class="nhsuk-table__cell center-table-row">
                                    <span class="nhsuk-table-responsive__heading">User Email </span>paul.ponce@nhs.net
                            </td>
                           <td role="cell" class="nhsuk-table__cell center-table-row">
                                <span class="nhsuk-table-responsive__heading select-tag">Action </span>
                                <p class="nhsuk-u-margin-bottom-0"><a class="nhsuk-link nhsuk-link--no-visited-state"
                                                                      href="portfolio-summary">View Details</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <a class="nhsuk-button nhsuk-u-margin-top-4" href="add-user/add-supplier-first-name">Select All</a>
            <a class="nhsuk-button nhsuk-u-margin-top-4" href="add-user/add-supplier-first-name">Select None</a>

            <!-- TODO Pass on selected users to new URL. -->
            <div>
                <a href="/apps/staffChecker/bulkActionForm"> > Perform Bulk Action on Selected Staff </a>
            </div>

        </span>

        <!-- End of content -->
    </div>
</div>
{% endblock %}
