<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Check - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k/check">Check</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Check
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <div class="nhsuk-grid-column-one-half">
        <img class="nhsuk-image__img" src="/images/dummy_prescription.png" alt="Dummy Prescription Image">
  
        <div class="nhsuk-u-padding-bottom-2"></div>
  
        <button class="nhsuk-button nhsuk-button--secondary" type="button">Front / Back</button>
        <button class="nhsuk-button nhsuk-button--secondary" type="button">+</button>
        <button class="nhsuk-button nhsuk-button--secondary" type="button">-</button>
        <button class="nhsuk-button nhsuk-button--secondary" type="button" style="float: right;">Notes</button>   
      </div>
      <div class="nhsuk-grid-column-one-half">
        <fieldset class="nhsuk-fieldset">
          <!-- Exemption Category -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="exemption-category">Exemption Category</label>
            <input class="nhsuk-input nhsuk-input--width-3" id="exemption-category" name="exemption-category" type="text">  
            <strong class="nhsuk-tag nhsuk-tag--red">
              Example
            </strong>
          </div>

          <!-- Prescriber Code -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="prescriber-code">Prescriber Code</label>
            <input class="nhsuk-input nhsuk-input--width-3" id="prescriber-code" name="prescriber-code" type="text">
          </div>

          <!-- Quantity -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="quantity">Quantity</label>
            <input class="nhsuk-input nhsuk-input--width-3" id="quantity" name="quantity" type="text">
          </div>

          <!-- Endorsements -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="endorsements">Endorsements</label>
            <input class="nhsuk-input nhsuk-input--width-3" id="endorsements" name="endorsements" type="text">
          </div>

          <!-- Product Description -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="product-description">Product Description</label>
            <input class="nhsuk-input" id="product-description" name="product-description" type="text">
          </div>

          <!-- ETP Prescribed -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="etp-prescribed">ETP Prescribed - QTY</label>
            <input class="nhsuk-input" id="etp-prescribed" type="text">
          </div>

          <!-- ETP Dispensed -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="etp-dispensed">ETP Dispensed - QTY</label>
            <input class="nhsuk-input" id="etp-dispensed" type="text">
          </div>

          <!-- Buttons -->
          <button class="nhsuk-button nhsuk-button--secondary" type="button">
            Correct
          </button>
          <button class="nhsuk-button nhsuk-button--secondary" type="button" style="float: right;">
            Error
          </button>
        </fieldset>

        <div style="float: right; text-align: right;">
          <label class="nhsuk-label" for="checkedprogress">X of Y checked</label>
          <progress id="checkedprogress" max="100" value="50"></progress>
        </div>
      </div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
