<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Dashboard - 50k Checking - Prescription Service Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ul class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k">50k Checking</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/apps/50k/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Statistics Dashboard
      </h1>

      <p class="nhsuk-lede-text">
        Information on overall and individual progress for the current period.
      </p>

      <h2>
        December 2022
      </h2>

      <h3>
        Overall Statistics
      </h3>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 1
              </h2>
              <!-- Not currently styled, proof of concept -->
              <progress id="phase3" value="85" max="100"></progress>
              <p class="nhsuk-card__description">85,000 of 50,000 checked</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 2
              </h2>
              <progress id="phase2" value="55" max="100"></progress>
              <p class="nhsuk-card__description">55 of 100 checked</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 3
              </h2>
              <progress id="phase3" value="20" max="100"></progress>
              <p class="nhsuk-card__description">10 of 50 checked</p>
            </div>
          </div>
        </li>
      </ul>

      <h3>
        Individual Statistics
      </h3>

      <p>
        <span class="nhsuk-u-font-weight-bold">User:</span> John Smith
      </p>
      
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 1
              </h2>
              <p>
                <div class="nhsuk-u-font-weight-bold">Checked</div>
                <div>200</div>
              </p>
              <p>
                <div class="nhsuk-u-font-weight-bold">Time spent (hh:mm:ss)</div>
                <div>00:20:00</div>
              </p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 2
              </h2>
              <p>
                <div class="nhsuk-u-font-weight-bold">Checked</div>
                <div>100</div>
              </p>
              <p>
                <div class="nhsuk-u-font-weight-bold">Time spent (hh:mm:ss)</div>
                <div>00:10:00</div>
              </p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Phase 3
              </h2>
              <p>
                <div class="nhsuk-u-font-weight-bold">Checked</div>
                <div>5</div>
              </p>
              <p>
                <div class="nhsuk-u-font-weight-bold">Time spent (hh:mm:ss)</div>
                <div>00:05:00</div>
              </p>
            </div>
          </div>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
