<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Prescription Services Applications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ul class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Prescription Services Applications - Testing
      </h1>

      <p class="nhsuk-lede-text">
        Below are description and links to the Prescription Services Applications you have access to.
      </p>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/apps/50k">50k Checking</a>
              </h2>
              <p class="nhsuk-card__description">Used to check a random sample of 50k items from the previous prescription pricing cycle.</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/apps/cspt">Customer Services Payment Team Checking</a>
              </h2>
              <p class="nhsuk-card__description">Used to confirm information captured in previously completed/paid English Pharmacy accounts is correct and any differences captured for information and pricing variances to determine if an adjustment is required.</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/apps/quality">Quality Checking</a>
              </h2>
              <p class="nhsuk-card__description">Used to check and monitor the accuracy of inputting carried out by processing staff. Accuracy is checked against standards and used in staff performance monitoring.</p>
            </div>
          </div>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}